<div class="row">
  <div class="offset-sm-11 col-sm d-none d-sm-block">
    <i class="fa fa-plus fa-click" (click)="openAddDialog()"></i>
  </div>
</div>
<div class="row">
  <div class="col-4">
    <b>Title</b>
  </div>
  <div class="col-4 d-none d-sm-block">
    <b>JIRA</b>
  </div>
  <div class="col-4 d-none d-sm-block">
    <b>Time</b>
  </div>
</div>
<div class="row" *ngFor="let project of projects$ | async">
  <app-project [project]="project" class="w-100"></app-project>
</div>
<div class="row" *ngIf="showAddProjectDialog">
  <app-project-add class="w-100" (onCreate)="onCreate($event)"></app-project-add>
</div>
