<div class="col-12">
  <div class="row">
    <div class="col-sm-4">
      <span class="topic-title">
        {{topic.title}}
      </span>
    </div>
    <div class="col-sm-4">
      {{topic.jira}}
    </div>
    <div class="col-sm-2">
      {{totalTime}}
    </div>
    <div class="offset-sm-1 col-sm-1">
        <i class="fa fa-play" *ngIf="!isTracking" (click)="startTracking()"></i>
      <i class="fa fa-clock-o" *ngIf="isTracking" (click)="stopTracking()"></i>
    </div>
  </div>
  <div class="row" *ngFor="let period of topic.periods">
    <app-period [period]="period" class="w-100"></app-period>
  </div>
</div>
