<form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-inline">
  <div class="col-sm-4">
    <span class="topic-title">
      <input name="title" class="form-control" formControlName="title" type="text" placeholder="Title" />
    </span>
  </div>
  <div class="col-sm-4">
    <input name="jira" class="form-control" formControlName="jira" type="text" placeholder="JIRA"/>
  </div>
  <div class="offset-sm-3 col-sm-1">
    <button type="submit" class="icon-button">
      <i class="fa fa-check fa-click"></i>
    </button>
  </div>
</form>
